## manester_HW_N5_Pandas_part1_hw

В этом домашнем задании мы будем работать с набором данных о пассажирах парохода "Титаник", потерпевшего крушение в 1912 году (источник: соревнование [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic) на платформе [Kaggle](https://www.kaggle.com)).

# Базовый уровень

*Для получения положительной оценки нужно правильно выполнить не менее 4 заданий из 6*

## Задание 1.1
Загрузите таблицу из файла `data.csv` в переменную `df` типа `pd.DataFrame`. В качестве индекса следует использовать колонку `PassengerId`.

In [281]:
import numpy as np

In [65]:
import pandas as pd

In [66]:
print pd.__version__

0.19.2

In [138]:
df = pd.read_csv('data.csv', sep=';', index_col='PassengerId')

In [139]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
258,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.00,0,1,230433,26.0000,NaN,S
261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
263,0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
264,0,1,"Harrison, Mr. William",male,40.00,0,0,112059,0.0000,B94,S
265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
266,0,2,"Reeves, Mr. David",male,36.00,0,0,C.A. 17248,10.5000,NaN,S
267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S

## Задание 1.2
Сколько строк и столбцов в таблице?

In [140]:
print df.T.shape
print df.T.columns

(11, 891)
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
           dtype='int64', name=u'PassengerId', length=891)

## Задание 1.3
Выведите на экран последние три значения столбца `Age`(возраст).

In [142]:
df.loc[889:891, 'Age']

PassengerId
889     NaN
890    26.0
891    32.0
Name: Age, dtype: float64

## Задание 1.4

Какова доля выживших (поле `Survived`)?

In [151]:
df['Survived'].mean()

0.3838383838383838

## Задание 1.5
Выведите на экран таблицу, отсортированную по имени по алфавиту (поле `Name`).

In [146]:
df.sort(columns = 'Name', axis=0, ascending=True, inplace=False)

/usr/local/conda3/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
846,0,3,"Abbing, Mr. Anthony",male,42.00,0,0,C.A. 5547,7.5500,NaN,S
747,0,3,"Abbott, Mr. Rossmore Edward",male,16.00,1,1,C.A. 2673,20.2500,NaN,S
280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.00,1,1,C.A. 2673,20.2500,NaN,S
309,0,2,"Abelson, Mr. Samuel",male,30.00,1,0,P/PP 3381,24.0000,NaN,C
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.00,1,0,P/PP 3381,24.0000,NaN,C
366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.00,0,0,C 7076,7.2500,NaN,S
402,0,3,"Adams, Mr. John",male,26.00,0,0,341826,8.0500,NaN,S
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.00,0,1,392091,9.3500,NaN,S
208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
811,0,3,"Alexander, Mr. William",male,26.00,0,0,3474,7.8875,NaN,S
841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.00,0,0,SOTON/O2 3101287,7.9250,NaN,S
211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
785,0,3,"Ali, Mr. William",male,25.00,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S
731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
835,0,3,"Allum, Mr. Owen George",male,18.00,0,0,2223,8.3000,NaN,S
193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S
120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.00,4,2,347082,31.2750,NaN,S
543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.00,4,2,347082,31.2750,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.00,1,5,347082,31.2750,NaN,S
92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S
807,0,1,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S
519,1,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.00,1,0,226875,26.0000,NaN,S
572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S
354,0,3,"Arnold-Franchi, Mr. Josef",male,25.00,1,0,349237,17.8000,NaN,S
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
494,0,1,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,NaN,C
364,0,3,"Asim, Mr. Adola",male,35.00,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C
115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
370,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C
834,0,3,"Augustsson, Mr. Albert",male,23.00,0,0,347468,7.8542,NaN,S
781,1,3,"Ayoub, Miss. Banoura",female,13.00,0,0,2687,7.2292,NaN,C
207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
449,1,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C
859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.00,0,3,2666,19.2583,NaN,C
662,0,3,"Badt, Mr. Mohamed",male,40.00,0,0,2623,7.2250,NaN,C
758,0,2,"Bailey, Mr. Percy Andrew",male,18.00,0,0,29108,11.5000,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.00,0,0,349248,7.8958,NaN,S
328,1,2,"Ball, Mrs. (Ada E Hall)",female,36.00,0,0,28551,13.0000,D,S
884,0,2,"Banfield, Mr. Frederick James",male,28.00,0,0,C.A./SOTON 34068,10.5000,NaN,S
763,1,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C
703,0,3,"Barbara, Miss. Saiide",female,18.00,0,1,2691,14.4542,NaN,C
363,0,3,"Barbara, Mrs. (Catherine David)",female,45.00,0,1,2691,14.4542,NaN,C
291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S
631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S
113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C
219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
544,1,2,"Beane, Mr. Edward",male,32.00,1,0,2908,26.0000,NaN,S
547,1,2,"Beane, Mrs. Edward (Ethel Clarke)",female,19.00,1,0,2908,26.0000,NaN,S
373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S
184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S
249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S
22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C
163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
734,0,2,"Berriman, Mr. William John",male,23.00,0,0,28425,13.0000,NaN,S
379,0,3,"Betros, Mr. Tannous",male,20.00,0,0,2648,4.0125,NaN,C
381,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C
75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.00,0,0,312992,7.7750,NaN,S
485,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C
292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C
270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S
431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S
340,0,1,"Blackwell, Mr. Stephen Weart",male,45.00,0,0,113784,35.5000,T,S
210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
629,0,3,"Bostandyeff, Mr. Guentcho",male,26.00,0,0,349224,7.8958,NaN,S
853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
599,0,3,"Boulos, Mr. Hanna",male,NaN,0,0,2664,7.2250,NaN,C
141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
594,0,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,NaN,Q
189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
658,0,3,"Bourke, Mrs. John (Catherine)",female,32.00,1,1,364849,15.5000,NaN,Q
625,0,3,"Bowen, Mr. David John ""Dai""",male,21.00,0,0,54636,16.1000,NaN,S
357,1,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,113505,55.0000,E33,S
222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S
478,0,3,"Braund, Mr. Lewis Richard",male,29.00,1,0,3460,7.0458,NaN,S
1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
615,0,3,"Brocklebank, Mr. William Alfred",male,35.00,0,0,364512,8.0500,NaN,S
346,1,2,"Brown, Miss. Amelia ""Mildred""",female,24.00,0,0,248733,13.0000,F33,S
685,0,2,"Brown, Mr. Thomas William Solomon",male,60.00,1,1,29750,39.0000,NaN,S
195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
671,1,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.00,1,1,29750,39.0000,NaN,S
729,0,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.00,1,0,236853,26.0000,NaN,S
144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
388,1,2,"Buss, Miss. Kate",female,36.00,0,0,27849,13.0000,NaN,S
667,0,2,"Butler, Mr. Reginald Fenton",male,25.00,0,0,234686,13.0000,NaN,S
537,0,1,"Butt, Major. Archibald Willingham",male,45.00,0,0,113050,26.5500,B38,S
150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.00,0,0,236852,13.0000,NaN,S
535,0,3,"Cacic, Miss. Marija",female,30.00,0,0,315084,8.6625,NaN,S
472,0,3,"Cacic, Mr. Luka",male,38.00,0,0,315089,8.6625,NaN,S
271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
708,1,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S
79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
324,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.00,1,1,248738,29.0000,NaN,S
164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
501,0,3,"Calic, Mr. Petar",male,17.00,0,0,315086,8.6625,NaN,S
212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0000,NaN,S
502,0,3,"Canavan, Miss. Mary",female,21.00,0,0,364846,7.7500,NaN,Q
38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
579,0,3,"Caram, Mrs. Joseph (Maria Elias)",female,NaN,1,0,2689,14.4583,NaN,C
192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
757,0,3,"Carlsson, Mr. August Sigfrid",male,28.00,0,0,350042,7.7958,NaN,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.00,0,0,695,5.0000,B51 B53 B55,S
209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.00,1,0,244252,26.0000,NaN,S
764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.00,1,2,113760,120.0000,B96 B98,S
250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
742,0,1,"Cavendish, Mr. Tyrell William",male,36.00,1,0,19877,78.8500,C46,S
90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
725,1,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S
810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.00,1,0,113806,53.1000,E8,S
696,0,2,"Chapman, Mr. Charles Henry",male,52.00,0,0,248731,13.5000,NaN,S
595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
422,0,3,"Charters, Mr. David",male,21.00,0,0,A/5. 13032,7.7333,NaN,Q
258,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
581,1,2,"Christy, Miss. Julie Rachel",female,25.00,1,1,237789,30.0000,NaN,S
74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
427,1,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",female,28.00,1,0,2003,26.0000,NaN,S
709,1,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S
476,0,1,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S
132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
664,0,3,"Coleff, Mr. Peju",male,36.00,0,0,349210,7.4958,NaN,S
515,0,3,"Coleff, Mr. Satio",male,24.00,0,0,349209,7.4958,NaN,S
243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
343,0,2,"Collander, Mr. Erik Gustaf",male,28.00,0,0,248740,13.0000,NaN,S
663,0,1,"Colley, Mr. Edward Pomeroy",male,47.00,0,0,5727,25.5875,E58,S
238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
638,0,2,"Collyer, Mr. Harvey",male,31.00,1,1,C.A. 31921,26.2500,NaN,S
802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.00,1,1,C.A. 31921,26.2500,NaN,S
836,1,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C
750,0,3,"Connaghton, Mr. Michael",male,31.00,0,0,335097,7.7500,NaN,Q
290,1,3,"Connolly, Miss. Kate",female,22.00,0,0,370373,7.7500,NaN,Q
117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
669,0,3,"Cook, Mr. Jacob",male,43.00,0,0,A/5 3536,8.0500,NaN,S
647,0,3,"Cor, Mr. Liudevit",male,19.00,0,0,349231,7.8958,NaN,S
158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
746,0,1,"Crosby, Capt. Edward Gifford",male,70.00,1,1,WE/P 5735,71.0000,B22,S
541,1,1,"Crosby, Miss. Harriet R",female,36.00,0,2,WE/P 5735,71.0000,B22,S
845,0,3,"Culumovic, Mr. Jeso",male,17.00,0,0,315090,8.6625,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
339,1,3,"Dahl, Mr. Karl Edwart",male,45.00,0,0,7598,8.0500,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.00,0,0,7552,10.5167,NaN,S
688,0,3,"Dakic, Mr. Branko",male,19.00,0,0,349228,10.1708,NaN,S
511,1,3,"Daly, Mr. Eugene Patrick",male,29.00,0,0,382651,7.7500,NaN,Q
858,1,1,"Daly, Mr. Peter Denis",male,51.00,0,0,113055,26.5500,E17,S
617,0,3,"Danbom, Mr. Ernst Gilbert",male,34.00,1,1,347080,14.4000,NaN,S
424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.00,1,1,347080,14.4000,NaN,S
608,1,1,"Daniel, Mr. Robert Williams",male,27.00,0,0,113804,30.5000,NaN,S
322,0,3,"Danoff, Mr. Yoto",male,27.00,0,0,349219,7.8958,NaN,S
795,0,3,"Dantcheff, Mr. Ristiu",male,25.00,0,0,349203,7.8958,NaN,S
672,0,1,"Davidson, Mr. Thornton",male,31.00,1,0,F.C. 12750,52.0000,B71,S
550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S
566,0,3,"Davies, Mr. Alfred J",male,24.00,2,0,A/4 48871,24.1500,NaN,S
386,0,2,"Davies, Mr. Charles Henry",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
636,1,2,"Davis, Miss. Mary",female,28.00,0,0,237668,13.0000,NaN,S
348,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,1,0,386525,16.1000,NaN,S
789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
336,0,3,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S
321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,NaN,S
45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
691,1,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S
782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
350,0,3,"Dimic, Mr. Jovan",male,42.00,0,0,315088,8.6625,NaN,S
446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
569,0,3,"Doharr, Mr. Tannous",male,NaN,0,0,2686,7.2292,NaN,C
652,1,2,"Doling, Miss. Elsie",female,18.00,0,1,231919,23.0000,NaN,S
99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
891,0,3,"Dooley, Mr. Patrick",male,32.00,0,0,370376,7.7500,NaN,Q
284,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
545,0,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C
80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
583,0,2,"Downton, Mr. William James",male,54.00,0,0,28403,26.0000,NaN,S
131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.00,1,1,28220,32.5000,NaN,S
281,0,3,"Duane, Mr. Frank",male,65.00,0,0,336439,7.7500,NaN,Q
557,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.00,1,0,11755,39.6000,A16,C
600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.00,1,0,PC 17485,56.9292,A20,C
867,1,2,"Duran y More, Miss. Asuncion",female,27.00,1,0,SC/PARIS 2149,13.8583,NaN,C
676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.00,0,0,349912,7.7750,NaN,S
659,0,2,"Eitemiller, Mr. George Floyd",male,23.00,0,0,29751,13.0000,NaN,S
765,0,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,NaN,S
130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
774,0,3,"Elias, Mr. Dibo",male,NaN,0,0,2674,7.2250,NaN,C
533,0,3,"Elias, Mr. Joseph Jr",male,17.00,1,1,2690,7.2292,NaN,C
353,0,3,"Elias, Mr. Tannous",male,15.00,1,1,2695,7.2292,NaN,C
593,0,3,"Elsbury, Mr. William James",male,47.00,0,0,A/5 3902,7.2500,NaN,S
778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.00,0,0,364516,12.4750,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
717,1,1,"Endres, Miss. Caroline Louise",female,38.00,0,0,PC 17757,227.5250,C45,C
497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.00,1,0,36947,78.2667,D20,C
229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
526,0,3,"Farrell, Mr. James",male,40.50,0,0,367232,7.7500,NaN,Q
528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.00,0,0,350036,7.7958,NaN,S
307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.00,0,0,PC 17474,26.3875,E25,S
644,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
437,0,3,"Ford, Miss. Doolina Margaret ""Daisy""",female,21.00,2,2,W./C. 6608,34.3750,NaN,S
148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
737,0,3,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.00,1,3,W./C. 6608,34.3750,NaN,S
453,0,1,"Foreman, Mr. Benjamin Laventall",male,30.00,0,0,113051,27.7500,C111,C
342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.00,3,2,19950,263.0000,C23 C25 C27,S
89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
439,0,1,"Fortune, Mr. Mark",male,64.00,1,4,19950,263.0000,C23 C25 C27,S
345,0,2,"Fox, Mr. Stanley Hubert",male,36.00,0,0,229236,13.0000,NaN,S
310,1,1,"Francatelli, Miss. Laura Mabel",female,30.00,0,0,PC 17485,56.9292,E36,C

## Задание 1.6
Каковы доли женщин и мужчин среди пассажиров (поле `Sex`)?

In [159]:
df.Sex.value_counts(normalize=True)

male      0.647587
female    0.352413
Name: Sex, dtype: float64

# Продвинутый уровень

*Для получения положительной оценки нужно правильно выполнить не менее 3 заданий из 5*

## Задание 2.1
Каков процент женщин и мужчин среди пассажиров? (Hint: *процент – это доля, умноженная на 100.*)

In [160]:
df.Sex.value_counts(normalize=True)*100

male      64.758698
female    35.241302
Name: Sex, dtype: float64

## Задание 2.2
Какова доля совершеннолетних пассажиров (18 лет и старше)?

In [323]:
df.Age.value_counts(normalize=True) #здесь видимо необходимо составить функцию,не соорентируюсь как это сделать

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
28.00    0.035014
21.00    0.033613
25.00    0.032213
36.00    0.030812
29.00    0.028011
32.00    0.025210
27.00    0.025210
35.00    0.025210
26.00    0.025210
16.00    0.023810
31.00    0.023810
20.00    0.021008
33.00    0.021008
23.00    0.021008
34.00    0.021008
39.00    0.019608
17.00    0.018207
42.00    0.018207
40.00    0.018207
45.00    0.016807
38.00    0.015406
50.00    0.014006
2.00     0.014006
4.00     0.014006
47.00    0.012605
44.00    0.012605
48.00    0.012605
54.00    0.011204
9.00     0.011204
1.00     0.009804
51.00    0.009804
52.00    0.008403
14.00    0.008403
3.00     0.008403
49.00    0.008403
41.00    0.008403
37.00    0.008403
15.00    0.007003
43.00    0.007003
58.00    0.007003
11.00    0.005602
62.00    0.005602
60.00    0.005602
8.00     0.005602
56.00    0.005602
5.00     0.005602
46.00    0.004202
65.00    0.004202
7.00     0.004202
6.00     0.004202
61.00    0.004202
55.00    0.002801
28.50    0.002801
71.00    0.002801
59.00    0.002801
63.00    0.002801
0.83     0.002801
30.50    0.002801
70.00    0.002801
57.00    0.002801
0.75     0.002801
13.00    0.002801
10.00    0.002801
64.00    0.002801
40.50    0.002801
32.50    0.002801
45.50    0.002801
20.50    0.001401
24.50    0.001401
0.67     0.001401
14.50    0.001401
0.92     0.001401
74.00    0.001401
34.50    0.001401
80.00    0.001401
12.00    0.001401
36.50    0.001401
53.00    0.001401
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: Age, dtype: float64

## Задание 2.3
Замените коды пассажирских классов (поле `Pclass`) их названиями (1 = Upper, 2 = Middle, 3 = Lower). Результат выведите на экран.

In [216]:
df.replace(to_replace=[1, 2, 3], value=['Upper', 'Middle', 'Lower'])

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname
PassengerId,,,,,,,,,,,,
1,0,Lower,"Braund, Mr. Owen Harris",male,22,Upper,0,A/5 21171,7.2500,NaN,S,0
2,Upper,Upper,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,Upper,0,PC 17599,71.2833,C85,C,0
3,Upper,Lower,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,0
4,Upper,Upper,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,Upper,0,113803,53.1000,C123,S,0
5,0,Lower,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,0
6,0,Lower,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
7,0,Upper,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,0
8,0,Lower,"Palsson, Master. Gosta Leonard",male,Middle,Lower,Upper,349909,21.0750,NaN,S,0
9,Upper,Lower,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,Middle,347742,11.1333,NaN,S,0
10,Upper,Middle,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,Upper,0,237736,30.0708,NaN,C,0
11,Upper,Lower,"Sandstrom, Miss. Marguerite Rut",female,4,Upper,Upper,PP 9549,16.7000,G6,S,0
12,Upper,Upper,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S,0
13,0,Lower,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S,0
14,0,Lower,"Andersson, Mr. Anders Johan",male,39,Upper,5,347082,31.2750,NaN,S,0
15,0,Lower,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S,0
16,Upper,Middle,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S,0
17,0,Lower,"Rice, Master. Eugene",male,Middle,4,Upper,382652,29.1250,NaN,Q,0
18,Upper,Middle,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0
19,0,Lower,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,Upper,0,345763,18.0000,NaN,S,0
20,Upper,Lower,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0
21,0,Middle,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S,0
22,Upper,Middle,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S,0
23,Upper,Lower,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q,0
24,Upper,Upper,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S,0
25,0,Lower,"Palsson, Miss. Torborg Danira",female,8,Lower,Upper,349909,21.0750,NaN,S,0
26,Upper,Lower,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,Upper,5,347077,31.3875,NaN,S,0
27,0,Lower,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0
28,0,Upper,"Fortune, Mr. Charles Alexander",male,19,Lower,Middle,19950,263.0000,C23 C25 C27,S,0
29,Upper,Lower,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0
30,0,Lower,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0
31,0,Upper,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,NaN,C,0
32,Upper,Upper,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,Upper,0,PC 17569,146.5208,B78,C,0
33,Upper,Lower,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,0
34,0,Middle,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5000,NaN,S,0
35,0,Upper,"Meyer, Mr. Edgar Joseph",male,28,Upper,0,PC 17604,82.1708,NaN,C,0
36,0,Upper,"Holverson, Mr. Alexander Oskar",male,42,Upper,0,113789,52.0000,NaN,S,0
37,Upper,Lower,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,0
38,0,Lower,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.0500,NaN,S,0
39,0,Lower,"Vander Planke, Miss. Augusta Maria",female,18,Middle,0,345764,18.0000,NaN,S,0
40,Upper,Lower,"Nicola-Yarred, Miss. Jamila",female,14,Upper,0,2651,11.2417,NaN,C,0
41,0,Lower,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,Upper,0,7546,9.4750,NaN,S,0
42,0,Middle,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27,Upper,0,11668,21.0000,NaN,S,0
43,0,Lower,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,0
44,Upper,Middle,"Laroche, Miss. Simonne Marie Anne Andree",female,Lower,Upper,Middle,SC/Paris 2123,41.5792,NaN,C,0
45,Upper,Lower,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,NaN,Q,0
46,0,Lower,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,0
47,0,Lower,"Lennon, Mr. Denis",male,NaN,Upper,0,370371,15.5000,NaN,Q,0
48,Upper,Lower,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,0
49,0,Lower,"Samaan, Mr. Youssef",male,NaN,Middle,0,2662,21.6792,NaN,C,0
50,0,Lower,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,Upper,0,349237,17.8000,NaN,S,0
51,0,Lower,"Panula, Master. Juha Niilo",male,7,4,Upper,3101295,39.6875,NaN,S,0
52,0,Lower,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8000,NaN,S,0
53,Upper,Upper,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,Upper,0,PC 17572,76.7292,D33,C,0
54,Upper,Middle,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29,Upper,0,2926,26.0000,NaN,S,0
55,0,Upper,"Ostby, Mr. Engelhart Cornelius",male,65,0,Upper,113509,61.9792,B30,C,0
56,Upper,Upper,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,0
57,Upper,Middle,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5000,NaN,S,0
58,0,Lower,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C,0
59,Upper,Middle,"West, Miss. Constance Mirium",female,5,Upper,Middle,C.A. 34651,27.7500,NaN,S,0
60,0,Lower,"Goodwin, Master. William Frederick",male,11,5,Middle,CA 2144,46.9000,NaN,S,0
61,0,Lower,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292,NaN,C,0
62,Upper,Upper,"Icard, Miss. Amelie",female,38,0,0,113572,80.0000,B28,NaN,0
63,0,Upper,"Harris, Mr. Henry Birkhardt",male,45,Upper,0,36973,83.4750,C83,S,0
64,0,Lower,"Skoog, Master. Harald",male,4,Lower,Middle,347088,27.9000,NaN,S,0
65,0,Upper,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,0
66,Upper,Lower,"Moubarek, Master. Gerios",male,NaN,Upper,Upper,2661,15.2458,NaN,C,0
67,Upper,Middle,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,10.5000,F33,S,0
68,0,Lower,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,NaN,S,0
69,Upper,Lower,"Andersson, Miss. Erna Alexandra",female,17,4,Middle,3101281,7.9250,NaN,S,0
70,0,Lower,"Kink, Mr. Vincenz",male,26,Middle,0,315151,8.6625,NaN,S,0
71,0,Middle,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,10.5000,NaN,S,0
72,0,Lower,"Goodwin, Miss. Lillian Amy",female,16,5,Middle,CA 2144,46.9000,NaN,S,0
73,0,Middle,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,73.5000,NaN,S,0
74,0,Lower,"Chronopoulos, Mr. Apostolos",male,26,Upper,0,2680,14.4542,NaN,C,0
75,Upper,Lower,"Bing, Mr. Lee",male,32,0,0,1601,56.4958,NaN,S,0
76,0,Lower,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.6500,F G73,S,0
77,0,Lower,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S,0
78,0,Lower,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S,0
79,Upper,Middle,"Caldwell, Master. Alden Gates",male,0.83,0,Middle,248738,29.0000,NaN,S,0
80,Upper,Lower,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,12.4750,NaN,S,0
81,0,Lower,"Waelens, Mr. Achille",male,22,0,0,345767,9.0000,NaN,S,0
82,Upper,Lower,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5000,NaN,S,0
83,Upper,Lower,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q,0
84,0,Upper,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1000,NaN,S,0
85,Upper,Middle,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,10.5000,NaN,S,0
86,Upper,Lower,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33,Lower,0,3101278,15.8500,NaN,S,0
87,0,Lower,"Ford, Mr. William Neal",male,16,Upper,Lower,W./C. 6608,34.3750,NaN,S,0
88,0,Lower,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,0
89,Upper,Upper,"Fortune, Miss. Mabel Helen",female,23,Lower,Middle,19950,263.0000,C23 C25 C27,S,0
90,0,Lower,"Celotti, Mr. Francesco",male,24,0,0,343275,8.0500,NaN,S,0
91,0,Lower,"Christmann, Mr. Emil",male,29,0,0,343276,8.0500,NaN,S,0
92,0,Lower,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,NaN,S,0
93,0,Upper,"Chaffee, Mr. Herbert Fuller",male,46,Upper,0,W.E.P. 5734,61.1750,E31,S,0
94,0,Lower,"Dean, Mr. Bertram Frank",male,26,Upper,Middle,C.A. 2315,20.5750,NaN,S,0
95,0,Lower,"Coxon, Mr. Daniel",male,59,0,0,364500,7.2500,NaN,S,0
96,0,Lower,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,0
97,0,Upper,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C,0
98,Upper,Upper,"Greenfield, Mr. William Bertram",male,23,0,Upper,PC 17759,63.3583,D10 D12,C,0
99,Upper,Middle,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,Upper,231919,23.0000,NaN,S,0
100,0,Middle,"Kantor, Mr. Sinai",male,34,Upper,0,244367,26.0000,NaN,S,0
101,0,Lower,"Petranec, Miss. Matilda",female,28,0,0,349245,7.8958,NaN,S,0
102,0,Lower,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S,0
103,0,Upper,"White, Mr. Richard Frasar",male,21,0,Upper,35281,77.2875,D26,S,0
104,0,Lower,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,8.6542,NaN,S,0
105,0,Lower,"Gustafsson, Mr. Anders Vilhelm",male,37,Middle,0,3101276,7.9250,NaN,S,0
106,0,Lower,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,7.8958,NaN,S,0
107,Upper,Lower,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,7.6500,NaN,S,0
108,Upper,Lower,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S,0
109,0,Lower,"Rekic, Mr. Tido",male,38,0,0,349249,7.8958,NaN,S,0
110,Upper,Lower,"Moran, Miss. Bertha",female,NaN,Upper,0,371110,24.1500,NaN,Q,0
111,0,Upper,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52.0000,C110,S,0
112,0,Lower,"Zabour, Miss. Hileni",female,14.5,Upper,0,2665,14.4542,NaN,C,0
113,0,Lower,"Barton, Mr. David John",male,22,0,0,324669,8.0500,NaN,S,0
114,0,Lower,"Jussila, Miss. Katriina",female,20,Upper,0,4136,9.8250,NaN,S,0
115,0,Lower,"Attalah, Miss. Malake",female,17,0,0,2627,14.4583,NaN,C,0
116,0,Lower,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,7.9250,NaN,S,0
117,0,Lower,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q,0
118,0,Middle,"Turpin, Mr. William John Robert",male,29,Upper,0,11668,21.0000,NaN,S,0
119,0,Upper,"Baxter, Mr. Quigg Edmond",male,24,0,Upper,PC 17558,247.5208,B58 B60,C,0
120,0,Lower,"Andersson, Miss. Ellis Anna Maria",female,Middle,4,Middle,347082,31.2750,NaN,S,0
121,0,Middle,"Hickman, Mr. Stanley George",male,21,Middle,0,S.O.C. 14879,73.5000,NaN,S,0
122,0,Lower,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,0
123,0,Middle,"Nasser, Mr. Nicholas",male,32.5,Upper,0,237736,30.0708,NaN,C,0
124,Upper,Middle,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S,0
125,0,Upper,"White, Mr. Percival Wayland",male,54,0,Upper,35281,77.2875,D26,S,0
126,Upper,Lower,"Nicola-Yarred, Master. Elias",male,12,Upper,0,2651,11.2417,NaN,C,0
127,0,Lower,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,0
128,Upper,Lower,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,NaN,S,0
129,Upper,Lower,"Peter, Miss. Anna",female,NaN,Upper,Upper,2668,22.3583,F E69,C,0
130,0,Lower,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.9750,NaN,S,0
131,0,Lower,"Drazenoic, Mr. Jozef",male,33,0,0,349241,7.8958,NaN,C,0
132,0,Lower,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,0
133,0,Lower,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,Upper,0,A/5. 3337,14.5000,NaN,S,0
134,Upper,Middle,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,Upper,0,228414,26.0000,NaN,S,0
135,0,Middle,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13.0000,NaN,S,0
136,0,Middle,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,15.0458,NaN,C,0
137,Upper,Upper,"Newsom, Miss. Helen Monypeny",female,19,0,Middle,11752,26.2833,D47,S,0
138,0,Upper,"Futrelle, Mr. Jacques Heath",male,37,Upper,0,113803,53.1000,C123,S,0
139,0,Lower,"Osen, Mr. Olaf Elon",male,16,0,0,7534,9.2167,NaN,S,0
140,0,Upper,"Giglio, Mr. Victor",male,24,0,0,PC 17593,79.2000,B86,C,0
141,0,Lower,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,Middle,2678,15.2458,NaN,C,0
142,Upper,Lower,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,7.7500,NaN,S,0
143,Upper,Lower,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24,Upper,0,STON/O2. 3101279,15.8500,NaN,S,0
144,0,Lower,"Burke, Mr. Jeremiah",male,19,0,0,365222,6.7500,NaN,Q,0
145,0,Middle,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,11.5000,NaN,S,0
146,0,Middle,"Nicholls, Mr. Joseph Charles",male,19,Upper,Upper,C.A. 33112,36.7500,NaN,S,0
147,Upper,Lower,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,7.7958,NaN,S,0
148,0,Lower,"Ford, Miss. Robina Maggie ""Ruby""",female,9,Middle,Middle,W./C. 6608,34.3750,NaN,S,0
149,0,Middle,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,Middle,230080,26.0000,F2,S,0
150,0,Middle,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13.0000,NaN,S,0
151,0,Middle,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,12.5250,NaN,S,0
152,Upper,Upper,"Pears, Mrs. Thomas (Edith Wearne)",female,22,Upper,0,113776,66.6000,C2,S,0
153,0,Lower,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,0
154,0,Lower,"van Billiard, Mr. Austin Blyler",male,40.5,0,Middle,A/5. 851,14.5000,NaN,S,0
155,0,Lower,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,0
156,0,Upper,"Williams, Mr. Charles Duane",male,51,0,Upper,PC 17597,61.3792,NaN,C,0
157,Upper,Lower,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,7.7333,NaN,Q,0
158,0,Lower,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,8.0500,NaN,S,0
159,0,Lower,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S,0
160,0,Lower,"Sage, Master. Thomas Henry",male,NaN,8,Middle,CA. 2343,69.5500,NaN,S,0
161,0,Lower,"Cribb, Mr. John Hatfield",male,44,0,Upper,371362,16.1000,NaN,S,0
162,Upper,Middle,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40,0,0,C.A. 33595,15.7500,NaN,S,0
163,0,Lower,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,7.7750,NaN,S,0
164,0,Lower,"Calic, Mr. Jovo",male,17,0,0,315093,8.6625,NaN,S,0
165,0,Lower,"Panula, Master. Eino Viljami",male,Upper,4,Upper,3101295,39.6875,NaN,S,0
166,Upper,Lower,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,Middle,363291,20.5250,NaN,S,0
167,Upper,Upper,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,Upper,113505,55.0000,E33,S,0
168,0,Lower,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,Upper,4,347088,27.9000,NaN,S,0
169,0,Upper,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0
170,0,Lower,"Ling, Mr. Lee",male,28,0,0,1601,56.4958,NaN,S,0
171,0,Upper,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,33.5000,B19,S,0
172,0,Lower,"Rice, Master. Arthur",male,4,4,Upper,382652,29.1250,NaN,Q,0
173,Upper,Lower,"Johnson, Miss. Eleanor Ileen",female,Upper,Upper,Upper,347742,11.1333,NaN,S,0
174,0,Lower,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.9250,NaN,S,0
175,0,Upper,"Smith, Mr. James Clinch",male,56,0,0,17764,30.6958,A7,C,0
176,0,Lower,"Klasen, Mr. Klas Albin",male,18,Upper,Upper,350404,7.8542,NaN,S,0
177,0,Lower,"Lefebre, Master. Henry Forbes",male,NaN,Lower,Upper,4133,25.4667,NaN,S,0
178,0,Upper,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,28.7125,C49,C,0
179,0,Middle,"Hale, Mr. Reginald",male,30,0,0,250653,13.0000,NaN,S,0
180,0,Lower,"Leonard, Mr. Lionel",male,36,0,0,LINE,0.0000,NaN,S,0
181,0,Lower,"Sage, Miss. Constance Gladys",female,NaN,8,Middle,CA. 2343,69.5500,NaN,S,0
182,0,Middle,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C,0
183,0,Lower,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,Middle,347077,31.3875,NaN,S,0
184,Upper,Middle,"Becker, Master. Richard F",male,Upper,Middle,Upper,230136,39.0000,F4,S,0
185,Upper,Lower,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,Middle,315153,22.0250,NaN,S,0
186,0,Upper,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S,0
187,Upper,Lower,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,Upper,0,370365,15.5000,NaN,Q,0
188,Upper,Upper,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.5500,NaN,S,0
189,0,Lower,"Bourke, Mr. John",male,40,Upper,Upper,364849,15.5000,NaN,Q,0
190,0,Lower,"Turcin, Mr. Stjepan",male,36,0,0,349247,7.8958,NaN,S,0
191,Upper,Middle,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13.0000,NaN,S,0
192,0,Middle,"Carbines, Mr. William",male,19,0,0,28424,13.0000,NaN,S,0
193,Upper,Lower,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,Upper,0,350046,7.8542,NaN,S,0
194,Upper,Middle,"Navratil, Master. Michel M",male,Lower,Upper,Upper,230080,26.0000,F2,S,0
195,Upper,Upper,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,27.7208,B4,C,0
196,Upper,Upper,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C,0
197,0,Lower,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q,0
198,0,Lower,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,Upper,4579,8.4042,NaN,S,0
199,Upper,Lower,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q,0
200,0,Middle,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13.0000,NaN,S,0
201,0,Lower,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5000,NaN,S,0
202,0,Lower,"Sage, Mr. Frederick",male,NaN,8,Middle,CA. 2343,69.5500,NaN,S,0
203,0,Lower,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,6.4958,NaN,S,0
204,0,Lower,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C,0
205,Upper,Lower,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,8.0500,NaN,S,0
206,0,Lower,"Strom, Miss. Telma Matilda",female,Middle,0,Upper,347054,10.4625,G6,S,0
207,0,Lower,"Backstrom, Mr. Karl Alfred",male,32,Upper,0,3101278,15.8500,NaN,S,0
208,Upper,Lower,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875,NaN,C,0
209,Upper,Lower,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,7.7500,NaN,Q,0
210,Upper,Upper,"Blank, Mr. Henry",male,40,0,0,112277,31.0000,A31,C,0
211,0,Lower,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,0
212,Upper,Middle,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21.0000,NaN,S,0
213,0,Lower,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,7.2500,NaN,S,0
214,0,Middle,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13.0000,NaN,S,0
215,0,Lower,"Kiernan, Mr. Philip",male,NaN,Upper,0,367229,7.7500,NaN,Q,0
216,Upper,Upper,"Newell, Miss. Madeleine",female,31,Upper,0,35273,113.2750,D36,C,0
217,Upper,Lower,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.9250,NaN,S,0
218,0,Middle,"Jacobsohn, Mr. Sidney Samuel",male,42,Upper,0,243847,27.0000,NaN,S,0
219,Upper,Upper,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C,0
220,0,Middle,"Harris, Mr. Walter",male,30,0,0,W/C 14208,10.5000,NaN,S,0
221,Upper,Lower,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,8.0500,NaN,S,0
222,0,Middle,"Bracken, Mr. James H",male,27,0,0,220367,13.0000,NaN,S,0
223,0,Lower,"Green, Mr. George Henry",male,51,0,0,21440,8.0500,NaN,S,0
224,0,Lower,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S,0
225,Upper,Upper,"Hoyt, Mr. Frederick Maxfield",male,38,Upper,0,19943,90.0000,C93,S,0
226,0,Lower,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,9.3500,NaN,S,0
227,Upper,Middle,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,10.5000,NaN,S,0
228,0,Lower,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S,0
229,0,Middle,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13.0000,NaN,S,0
230,0,Lower,"Lefebre, Miss. Mathilde",female,NaN,Lower,Upper,4133,25.4667,NaN,S,0
231,Upper,Upper,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,Upper,0,36973,83.4750,C83,S,0
232,0,Lower,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.7750,NaN,S,0
233,0,Middle,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,13.5000,NaN,S,0
234,Upper,Lower,"Asplund, Miss. Lillian Gertrud",female,5,4,Middle,347077,31.3875,NaN,S,0
235,0,Middle,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,10.5000,NaN,S,0
236,0,Lower,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S,0
237,0,Middle,"Hold, Mr. Stephen",male,44,Upper,0,26707,26.0000,NaN,S,0
238,Upper,Middle,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,Middle,C.A. 31921,26.2500,NaN,S,0
239,0,Middle,"Pengelly, Mr. Frederick William",male,19,0,0,28665,10.5000,NaN,S,0
240,0,Middle,"Hunt, Mr. George Henry",male,33,0,0,SCO/W 1585,12.2750,NaN,S,0
241,0,Lower,"Zabour, Miss. Thamine",female,NaN,Upper,0,2665,14.4542,NaN,C,0
242,Upper,Lower,"Murphy, Miss. Katherine ""Kate""",female,NaN,Upper,0,367230,15.5000,NaN,Q,0

## Задача 2.4
Какова доля выживших среди женщин? Среди мужчин?

In [324]:
df[df['Sex'] == 'male']['Survived'].mean()

0.18890814558058924

In [174]:
df[df['Sex'] == 'female']['Survived'].mean()

0.7420382165605095

## Задача 2.5
Сколько всего пропущенных значений в таблице?

In [341]:
df.Surname.isnull #как вывести пропущенные в одной колонке понятно, как посчитать на всей таблице нет

<bound method Series.isnull of PassengerId
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     0
31     0
32     0
33     0
34     0
35     0
36     0
37     0
38     0
39     0
40     0
41     0
42     0
43     0
44     0
45     0
46     0
47     0
48     0
49     0
50     0
51     0
52     0
53     0
54     0
55     0
56     0
57     0
58     0
59     0
60     0
61     0
62     0
63     0
64     0
65     0
66     0
67     0
68     0
69     0
70     0
71     0
72     0
73     0
74     0
75     0
76     0
77     0
78     0
79     0
80     0
81     0
82     0
83     0
84     0
85     0
86     0
87     0
88     0
89     0
90     0
91     0
92     0
93     0
94     0
95     0
96     0
97     0
98     0
99     0
100    0
101    0
102    0
103    0
104    0
105    0
106    0
107    0
108    0
109    0
110    0
111    0
112    0
113    0
114    0
115    0
116    0
117    0
118    0
119    0
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    0
130    0
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    0
139    0
140    0
141    0
142    0
143    0
144    0
145    0
146    0
147    0
148    0
149    0
150    0
151    0
152    0
153    0
154    0
155    0
156    0
157    0
158    0
159    0
160    0
161    0
162    0
163    0
164    0
165    0
166    0
167    0
168    0
169    0
170    0
171    0
172    0
173    0
174    0
175    0
176    0
177    0
178    0
179    0
180    0
181    0
182    0
183    0
184    0
185    0
186    0
187    0
188    0
189    0
190    0
191    0
192    0
193    0
194    0
195    0
196    0
197    0
198    0
199    0
200    0
201    0
202    0
203    0
204    0
205    0
206    0
207    0
208    0
209    0
210    0
211    0
212    0
213    0
214    0
215    0
216    0
217    0
218    0
219    0
220    0
221    0
222    0
223    0
224    0
225    0
226    0
227    0
228    0
229    0
230    0
231    0
232    0
233    0
234    0
235    0
236    0
237    0
238    0
239    0
240    0
241    0
242    0
243    0
244    0
245    0
246    0
247    0
248    0
249    0
250    0
251    0
252    0
253    0
254    0
255    0
256    0
257    0
258    0
259    0
260    0
261    0
262    0
263    0
264    0
265    0
266    0
267    0
268    0
269    0
270    0
271    0
272    0
273    0
274    0
275    0
276    0
277    0
278    0
279    0
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    0
292    0
293    0
294    0
295    0
296    0
297    0
298    0
299    0
300    0
301    0
302    0
303    0
304    0
305    0
306    0
307    0
308    0
309    0
310    0
311    0
312    0
313    0
314    0
315    0
316    0
317    0
318    0
319    0
320    0
321    0
322    0
323    0
324    0
325    0
326    0
327    0
328    0
329    0
330    0
331    0
332    0
333    0
334    0
335    0
336    0
337    0
338    0
339    0
340    0
341    0
342    0
343    0
344    0
345    0
346    0
347    0
348    0
349    0
350    0
351    0
352    0
353    0
354    0
355    0
356    0
357    0
358    0
359    0
360    0
361    0
362    0
363    0
364    0
365    0
366    0
367    0
368    0
369    0
370    0
371    0
372    0
373    0
374    0
375    0
376    0
377    0
378    0
379    0
380    0
381    0
382    0
383    0
384    0
385    0
386    0
387    0
388    0
389    0
390    0
391    0
392    0
393    0
394    0
395    0
396    0
397    0
398    0
399    0
400    0
401    0
402    0
403    0
404    0
405    0
406    0
407    0
408    0
409    0
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    0
418    0
419    0
420    0
421    0
422    0
423    0
424    0
425    0
426    0
427    0
428    0
429    0
430    0
431    0
432    0
433    0
434    0
435    0
436    0
437    0
438    0
439    0
440    0
441    0
442    0
443    0
444    0
445    0
446    0
447    0
448    0
449    0
450    0
451    0
452    0
453    0
454    0
455    0
456    0
457    0
458    0
459    0
460    0
461    0
462    0
463    0
464    0
465    0
466    0
467    0
468    0
469    0
470    0
471    0
472    0
473    0
474    0
475    0
476    0
477    0
478    0
479    0
480    0
481    0
482    0
483    0
484    0
485    0
486    0
487    0
488    0
489    0
490    0
491    0
492    0
493    0
494    0
495    0
496    0
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    0
505    0
506    0
507    0
508    0
509    0
510    0
511    0
512    0
513    0
514    0
515    0
516    0
517    0
518    0
519    0
520    0
521    0
522    0
523    0
524    0
525    0
526    0
527    0
528    0
529    0
530    0
531    0
532    0
533    0
534    0
535    0
536    0
537    0
538    0
539    0
540    0
541    0
542    0
543    0
544    0
545    0
546    0
547    0
548    0
549    0
550    0
551    0
552    0
553    0
554    0
555    0
556    0
557    0
558    0
559    0
560    0
561    0
562    0
563    0
564    0
565    0
566    0
567    0
568    0
569    0
570    0
571    0
572    0
573    0
574    0
575    0
576    0
577    0
578    0
579    0
580    0
581    0
582    0
583    0
584    0
585    0
586    0
587    0
588    0
589    0
590    0
591    0
592    0
593    0
594    0
595    0
596    0
597    0
598    0
599    0
600    0
601    0
602    0
603    0
604    0
605    0
606    0
607    0
608    0
609    0
610    0
611    0
612    0
613    0
614    0
615    0
616    0
617    0
618    0
619    0
620    0
621    0
622    0
623    0
624    0
625    0
626    0
627    0
628    0
629    0
630    0
631    0
632    0
633    0
634    0
635    0
636    0
637    0
638    0
639    0
640    0
641    0
642    0
643    0
644    0
645    0
646    0
647    0
648    0
649    0
650    0
651    0
652    0
653    0
654    0
655    0
656    0
657    0
658    0
659    0
660    0
661    0
662    0
663    0
664    0
665    0
666    0
667    0
668    0
669    0
670    0
671    0
672    0
673    0
674    0
675    0
676    0
677    0
678    0
679    0
680    0
681    0
682    0
683    0
684    0
685    0
686    0
687    0
688    0
689    0
690    0
691    0
692    0
693    0
694    0
695    0
696    0
697    0
698    0
699    0
700    0
701    0
702    0
703    0
704    0
705    0
706    0
707    0
708    0
709    0
710    0
711    0
712    0
713    0
714    0
715    0
716    0
717    0
718    0
719    0
720    0
721    0
722    0
723    0
724    0
725    0
726    0
727    0
728    0
729    0
730    0
731    0
732    0
733    0
734    0
735    0
736    0
737    0
738    0
739    0
740    0
741    0
742    0
743    0
744    0
745    0
746    0
747    0
748    0
749    0
750    0
751    0
752    0
753    0
754    0
755    0
756    0
757    0
758    0
759    0
760    0
761    0
762    0
763    0
764    0
765    0
766    0
767    0
768    0
769    0
770    0
771    0
772    0
773    0
774    0
775    0
776    0
777    0
778    0
779    0
780    0
781    0
782    0
783    0
784    0
785    0
786    0
787    0
788    0
789    0
790    0
791    0
792    0
793    0
794    0
795    0
796    0
797    0
798    0
799    0
800    0
801    0
802    0
803    0
804    0
805    0
806    0
807    0
808    0
809    0
810    0
811    0
812    0
813    0
814    0
815    0
816    0
817    0
818    0
819    0
820    0
821    0
822    0
823    0
824    0
825    0
826    0
827    0
828    0
829    0
830    0
831    0
832    0
833    0
834    0
835    0
836    0
837    0
838    0
839    0
840    0
841    0
842    0
843    0
844    0
845    0
846    0
847    0
848    0
849    0
850    0
851    0
852    0
853    0
854    0
855    0
856    0
857    0
858    0
859    0
860    0
861    0
862    0
863    0
864    0
865    0
866    0
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    0
875    0
876    0
877    0
878    0
879    0
880    0
881    0
882    0
883    0
884    0
885    0
886    0
887    0
888    0
889    0
890    0
891    0
Name: Surname, dtype: int64>

# Сложный уровень

*Для получения положительной оценки нужно правильно выполнить не менее 2 заданий из 3*

## Задание 3.1
Добавьте в таблицу поле `Surname` – фамилию пассажира.

In [193]:
df['Surname'] = 0

In [194]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S,0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C,0
3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S,0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S,0
5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S,0
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S,0
8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,0
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S,0
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C,0
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,0
12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S,0
13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S,0
14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S,0
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S,0
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S,0
17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,0
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S,0
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0
21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S,0
22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S,0
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q,0
24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S,0
25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S,0
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S,0
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0
28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,0
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0
31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C,0
32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,0
33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,0
34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S,0
35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C,0
36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S,0
37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,0
38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S,0
39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S,0
40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C,0
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S,0
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S,0
43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,0
44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,0
45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q,0
46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,0
47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,0
48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,0
49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,0
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S,0
51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S,0
52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S,0
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C,0
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S,0
55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C,0
56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,0
57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S,0
58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C,0
59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S,0
60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S,0
61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C,0
62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN,0
63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S,0
64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,0
65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,0
66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C,0
67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S,0
68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S,0
69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S,0
70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S,0
71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S,0
72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S,0
73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S,0
74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C,0
75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S,0
76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S,0
77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S,0
78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S,0
79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,0
80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S,0
81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S,0
82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S,0
83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q,0
84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S,0
85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S,0
86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S,0
87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S,0
88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,0
89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S,0
90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S,0
91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S,0
92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S,0
93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S,0
94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S,0
95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S,0
96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,0
97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C,0
98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C,0
99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S,0
100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S,0
101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S,0
102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S,0
103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S,0
104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S,0
105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S,0
106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S,0
107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S,0
108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S,0
109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S,0
110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q,0
111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S,0
112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C,0
113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S,0
114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S,0
115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C,0
116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S,0
117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q,0
118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S,0
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,0
120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,0
121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S,0
122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,0
123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C,0
124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S,0
125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S,0
126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C,0
127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,0
128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S,0
129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,0
130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S,0
131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C,0
132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,0
133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S,0
134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S,0
135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S,0
136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C,0
137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S,0
138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S,0
139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S,0
140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C,0
141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,0
142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S,0
143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S,0
144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q,0
145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S,0
146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S,0
147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S,0
148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S,0
149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S,0
150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S,0
151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S,0
152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S,0
153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S,0
154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S,0
155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,0
156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C,0
157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q,0
158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S,0
159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S,0
160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0
161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S,0
162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S,0
163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S,0
164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S,0
165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,0
166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,0
167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S,0
168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S,0
169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0
170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S,0
171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S,0
172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,0
173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,0
174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S,0
175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C,0
176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S,0
177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S,0
178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C,0
179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S,0
180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S,0
181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0
182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C,0
183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S,0
184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,0
185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,0
186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S,0
187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q,0
188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S,0
189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q,0
190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S,0
191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S,0
192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S,0
193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S,0
194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,0
195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C,0
196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C,0
197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q,0
198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S,0
199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q,0
200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S,0
201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S,0
202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0
203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S,0
204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C,0
205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S,0
206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,0
207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S,0
208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C,0
209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q,0
210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C,0
211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,0
212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S,0
213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S,0
214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S,0
215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q,0
216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C,0
217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S,0
218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S,0
219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,0
220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S,0
221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S,0
222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S,0
223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S,0
224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S,0
225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S,0
226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S,0
227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S,0
228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S,0
229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S,0
230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S,0
231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S,0
232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S,0
233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S,0
234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S,0
235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S,0
236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S,0
237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S,0
238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S,0
239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S,0
240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S,0
241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,0
243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S,0
244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S,0
245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C,0
246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q,0
247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S,0
248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S,0
249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S,0
250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S,0
251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S,0
252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S,0
253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S,0
254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S,0
255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S,0
256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C,0
257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C,0
258,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S,0
259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C,0

## Задание 3.2
Найдите всех пассажиров с аномальной стоимостью билета (поле `Fare`). Будем считать стоимость аномальной, если она отличается от среднего более, чем на 5 стандартных отклонений. Выведите соответствующие строки таблицы на экран.

## Задание 3.3
Выведите на экран столбцы, в которых бывают пропущенные значения. (Hint: *Здесь может помочь метод* `.any()`*, а также индексация переменной* `df.columns`).